[buildout]
extends =
    https://raw.githubusercontent.com/collective/buildout.plonetest/master/test-4.x.cfg
    https://raw.githubusercontent.com/collective/buildout.plonetest/master/qa.cfg
    https://raw.githubusercontent.com/plone/plone.app.robotframework/master/versions.cfg
    https://raw.githubusercontent.com/propertyshelf/buildout.plone/master/common.cfg

versions = versions
package-name = ps.plone.realestatefont
package-extras = [plone, test]
eggs +=
    Products.PrintingMailHost
test-eggs += Pillow
robot_tests_folder = ${buildout:directory}/src/ps/plone/realestatefont/tests/robot

parts +=
    i18ndude
    node
    rebuild_docs-sh
    rebuild_i18n-sh
    releaser
    sphinxbuilder
    testnorobot
    zptlint
    updatedocsimages

extensions += mr.developer

sources-dir = checkouts
auto-checkout = *
always-checkout = true


[code-analysis]
clean-lines = True
csslint = True
csslint-bin = bin/csslint
debug-statements = True
deprecated-aliases = True
directory = ${buildout:directory}/src/ps/plone/realestatefont
find-untranslated = True
flake8-ignore = E501
flake8-max-complexity = 12
i18ndude-bin = ${buildout:bin-directory}/i18ndude
jshint = True
jshint-bin = bin/jshint
pep3101 = True
pre-commit-hook = True
prefer-single-quotes = True
utf8-header = True
zptlint = True
zptlint-bin = bin/zptlint


[sources]


[versions]
collective.recipe.sphinxbuilder = 0.8.2
mr.developer = 1.30
plone.app.jquery = 1.8.3
plone.app.testing = 4.2.4
pygments = 1.6
robotframework-selenium2screenshots = 0.6.0
