[buildout]
extends =
    https://raw.github.com/collective/buildout.plonetest/master/travis-4.x.cfg
    https://raw.github.com/collective/buildout.plonetest/master/qa.cfg
    https://raw.github.com/plone/plone.app.robotframework/master/versions.cfg
    https://raw.githubusercontent.com/propertyshelf/buildout.plone/master/common.cfg

versions = versions
package-name = ps.plone.realestatefont
package-extras = [plone, test]
test-eggs = Pillow
parts +=
    node
    zptlint

# network speedup
allow-hosts =
    *.plone.org
    *.python.org
    *.zope.org
    code.google.com
    docutils.sourceforge.net
    effbot.org
    prdownloads.sourceforge.net
    robotframework.googlecode.com

extensions += mr.developer

sources-dir = checkouts
auto-checkout =


[code-analysis]
clean-lines = True
csslint = True
csslint-bin = bin/csslint
debug-statements = True
deprecated-aliases = True
directory = ${buildout:directory}/src/ps/plone/realestatefont
# find-untranslated = True
flake8-ignore = E501
flake8-max-complexity = 12
i18ndude-bin = ${buildout:bin-directory}/i18ndude
jshint = True
jshint-bin = bin/jshint
pep3101 = True
pre-commit-hook = False
prefer-single-quotes = True
utf8-header = True
zptlint = True
zptlint-bin = bin/zptlint


[sources]


[versions-4.1.x]
plone.app.testing = 4.2.2
setuptools =

# Keep RF/SL stuff up to date to avoid random failures.
pygments = 1.6


[versions-4.2.x]
# 4.2.7 is currently not available as UnifiedInstaller.
Plone = 4.2.6
setuptools =

# Keep RF/SL stuff up to date to avoid random failures.
pygments = 1.6


[versions-4.3.x]
setuptools =

# Keep RF/SL stuff up to date to avoid random failures.
pygments = 1.6

[versions-5.0.x]
setuptools =
