@charset "UTF-8";

@font-face {
  font-family: "iconmagic";
  src:url("fonts/iconmagic.eot");
  src:url("fonts/iconmagic.eot?#iefix") format("embedded-opentype"),
    url("fonts/iconmagic.woff") format("woff"),
    url("fonts/iconmagic.ttf") format("truetype"),
    url("fonts/iconmagic.svg#iconmagic") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "iconmagic" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon_re-"]:before,
[class*=" icon_re-"]:before {
  font-family: "iconmagic" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon_re-bar:before {
  content: "a";
}
.icon_re-basketball:before,
.icon_re-basketball_court:before {
  content: "b";
}
.icon_re-bbq:before {
  content: "c";
}
.icon_re-beach-club:before,
.icon_re-beach_club:before{
  content: "d";
}
.icon_re-changing-room:before,
.icon_re-changing_rooms:before  {
  content: "e";
}
.icon_re-cinema:before,
.icon_re-entertainment_cinema {
  content: "f";
}
.icon_re-airport:before {
  content: "g";
}
.icon_re-bank:before {
  content: "h";
}
.icon_re-gas-station:before,
.icon_re-gas_station:before {
  content: "i";
}
.icon_re-hospital:before {
  content: "j";
}
.icon_re-mall:before {
  content: "k";
}
.icon_re-concierge:before {
  content: "l";
}
.icon_re-equipment-rental:before,
.icon_re-equipment_rental:before,
.icon_re-activities_equipment:before{
  content: "m";
}
.icon_re-rubbish:before,
.icon_re-trash_collection:before {
  content: "n";
}
.icon_re-restaurant:before {
  content: "o";
}
.icon_re-property-management:before,
.icon_re-property_management:before{
  content: "p";
}
.icon_re-minimarket:before,
.icon_re-mini_market:before {
  content: "k";
}
.icon_re-medical-facility:before,
.icon_re-medical_facility:before{
  content: "r";
}
.icon_re-laundry:before,
.icon_re-laundry_facility:before {
  content: "s";
}
.icon_re-hotel:before {
  content: "t";
}
.icon_re-helicopter:before,
.icon_re-helicopter_pad:before {
  content: "u";
}
.icon_re-heated-pool:before,
.icon_re-heated_pool:before {
  content: "v";
}
.icon_re-gym:before {
  content: "w";
}
.icon_re-golf:before,
.icon_re-golf_course:before {
  content: "x";
}
.icon_re-garden:before,
.icon_re-gardens:before
{
  content: "y";
}
.icon_re-security:before {
  content: "z";
}
.icon_re-soccer:before,
.icon_re-soccer_field:before {
  content: "A";
}
.icon_re-spa:before {
  content: "B";
}
.icon_re-stable:before,
.icon_re-stables:before {
  content: "C";
}
.icon_re-storage:before,
.icon_re-storage_lockers:before {
  content: "D";
}
.icon_re-pool:before {
  content: "E";
}
.icon_re-tennis:before,
.icon_re-tennis_court:before {
  content: "F";
}
.icon_re-transportation:before,
.icon_re-valet:before {
  content: "G";
}
.icon_re-volleyball:before,
.icon_re-volleyball_court:before {
  content: "H";
}
.icon_re-game-room:before,
.icon_re-game_room:before,
.icon_re-games_room:before {
  content: "I";
}
